@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Lato:wght@300&family=Montserrat:wght@300;700&family=Roboto+Mono:ital,wght@1,700&family=Sacramento&family=Ubuntu:wght@700&display=swap');

body {
    font-family: 'Montserrat, sans-serif';
    line-height: 1.5;
    font-weight: 900;
}

#title {
    background-color: #ff4c68;
    color: #fff;
}

h1 {
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 3.5rem;
}

h2 {
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.2;
}

h3 {
    font-family: 'Montserrat';
    font-weight: 900;
}

p{
    color: #8f8f8f;
}

.container-fluid {
    padding: 3% 15%;
}

/* navigation bar */

.navbar {
    padding-bottom: 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: 700;
    }

    .nav-item {
        padding: 0 18px;
    }

    .nav-link {
        font-size: 1.2rem;
        font-family: "Montserrat";
        font-weight: 300;
    }

    /* buttons */


    .download-button {
        margin: 5% 3% 5% 0;
    }

    /* title image */

    .title-image {
        width: 60%;
        transform: rotate(25deg);
    }

    /* features section */

    .features-section {
        text-align: center;
        padding: 5%;
    }

    .features-section h3 {
        font-weight: 900;
    }

    .features-section i {
        color: #ef8172;
        font-size: 3.5rem;
        padding-bottom: 20px;
    }

    
    .features-section i:hover {
        color: #ff4c68;
   
    }

    /* testimonials */


    #testimonials {
        padding: 7% 15%;
        text-align: center;
        background-color: #ef8172;
        color: #fff;
    }


    .testimonial-image {
        width: 10%;
        border-radius: 100%;
        margin: 20px;
    }

    #press {
        background-color: #ef8172;
        text-align: center;
        padding-bottom: 3%;
    }

    .press-logo {
        width: 15%;
        margin: 20px 20px 50px;
    }